* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.main-welcome {
  margin-top: 10rem;
}
.logo img {
  width: 40%;
  height: 40%;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  display: none;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.links li {
  margin: 0 1rem;
  cursor: pointer;
}

.links a {
  text-decoration: none;
  color: black;
}
.small-screen-logo {
  display: none;
}
.close {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: black;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .close {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
  }
  .small-screen-logo {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }
  .small-screen-logo img {
    height: 40px;
  }

  .links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(145, 141, 141);
    box-shadow: 0 0 10px 0 #000;
    z-index: 0;
  }
  .links li Link {
    color: black !important;
  }
  .links.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links li {
    margin: 0.5rem 0;
  }
  .links li a {
    color: black;
    font-size: 30px;
  }
}

.container {
  width: 90%;
  background-color: white;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000;
  margin-top: 80px;
}
.container h1 {
  margin-bottom: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.hospital-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background: #014e78;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: white;
  height: 150px;
  box-shadow: 0 0 2px 0 #000;
}

.doctor-card {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background: #014e78;
  border-radius: 20px;
  color: white;
  height: 150px;
  box-shadow: 0 0 2px 0 #000;
}

.doctor-img {
  height: 35%;
  width: auto;
  max-height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 15px;
}

.hospital-name {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.hospital-location {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
}
.icon {
  text-align: left;
}
.doctor-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.doctor-info h2 {
  font-size: 24px;
  font-weight: 200;
  margin: 5px 0px;
}
.Link {
  text-decoration: none;
}
.doctor-info h3 {
  font-size: 18px;
  font-weight: 200;
  margin: 2px 0px;
}
.star {
  color: yellow;
}
.review-price-container {
  display: flex;
  margin-top: auto;
  margin-left: 8px;
}
.price {
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 8px;
  font-weight: bold;
}
.review {
  display: flex;
  column-gap: 6px;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Search bar */
.main-search {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main-search select {
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  outline: none;
}
.main-search input {
  padding: 15px 10px;
  border-radius: 10px;
  outline: none;
}
.main-welcome {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.welcome {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.welcome span {
  background-color: #014e78;
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  margin-right: 10px;
}
.best-doctor {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
}
.best-doctor h1 {
  font-size: 24px;
}
/* Single Doctor Component */

.Doctor {
  position: relative;
  display: flex;
  width: 70%;
  margin: 200px auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.Doctor img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.Doctor div {
  flex: 1;
}

.Doctor h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.Doctor h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.doctor-review {
  color: #ed8a19;
}
.Doctor p {
  margin-bottom: 10px;
}

.Doctor h3 > svg {
  margin-right: 5px;
}
.consult-button {
  position: absolute;
  top: 90px;
  right: 10px;
  padding: 15px 50px;
  background-color: #014e78;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 1118px) {
  .Doctor {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .Doctor img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .consult-button {
    position: static;
    margin-top: 20px;
    padding: 10px 20px;
  }
}
/* Appoinment Form */

.appointment-form {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: -80px auto;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.appointment-form.error-mode {
  height: auto;
}
.appointment-form h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.appointment-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.appointment-form label {
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.inside-input {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: -16px;
}

.appointment-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.appointment-form button {
  background-color: #014e78;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.appointment-btn {
  display: flex;
  margin-top: 10px;
}

.appointment-form button:hover {
  background-color: #01253c;
}
.appointment-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .appointment-form form {
    grid-template-columns: 1fr;
  }
}
